.button {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 20px;
  background-color: $green-font-color;
  padding: 10px 44px;
  text-align: center;
  text-transform: uppercase;
  color: $light-font-color;
  display: inline-block;
  border: none;
}

@media (min-width: $width-tablet) {
  .button {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}
