.catalog__wrapper {
  padding: 20px 25px;
}
.catalog__title {
  color: $color-primary;
  font-size: 36px;
  line-height: 36px;
}
.catalog__list {
  @include list-reset;
}
.catalog__item {
  border-top: 1px solid #ebebeb;
  padding: 20px 25px;
}

.catalog__item:last-child {
  padding: 0;
}

.card__title {
  margin: 0;
  color: #222222;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.card__list {
  @include list-reset;
}
.card__weight {
  margin: 0;
  color: $base-font-color;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
}
.card__weight-info {
  margin: 0;
}
.card__weight-value {
  margin: 0;
}
.card__flavor {
  color: $base-font-color;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
}
.card__flavor-value {
  margin: 0;
}
.card__flavor-info {
  margin: 0;
}
.card__price {
  margin: 0;
  color: $base-font-color;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}
.card__price-info {
  margin: 0;
}

.card__price-value {
  margin: 0;
}
.card__lined-title {
  margin: 0;
  margin-bottom: 8px;
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
}
.card__subtitle {
  margin: 0;
  color: $base-font-color;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

.card__button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 44px;
}

.card__button--more {
  padding: 10px 95px 10px 94px;
  background-color: $color-seconadary;
  align-items: center;
  width: 280px;
  color: $base-font-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card-upsale__button {
  display: inline-flex;
  height: 40px;
  padding: 8px 44px;
  align-items: center;
}
