.description-product__wrapper {
  margin-bottom: 49px;
}

.description-product__title {
  @include block-title;
  margin-bottom: 40px;
}

.description-product__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.description-product__item {
  @include base-text;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $green-font-color;
    float: left;
    margin-right: 20px;
  }
}
