.description-product {
  margin-bottom: 49px;
}

.description-product__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.description-product__list {
  @include list-reset;
  position: relative;
}

.description-product__item {
  @include base-text;
  &::after{
    content: "";
    background-color: $green-font-color;
    width: 60px;
    height: 60px;
  }
  
}
