.footer__wrapper {
  padding: 40px 20px;
}
.footer__logo-text {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}
.footer__social-list {
  @include list-reset;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
  margin-top: 40px;
}
.footer__copyright {
  margin-top: 20px;
}
.copyright__text {
  color: $base-font-color;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
}
