.gift {
  background: url("../img/content/background-upsale.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
}
.gift__bg {
  background: rgba(104, 183, 56, 0.85);
  width: 280px;
  height: 290px;
}
.gift__description {
  color: $light-font-color;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
}
