.header {
  min-width: $width-mobile;
}

.header__wrapper {
  padding-top: 13px;
  padding-bottom: 13px
}

.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__menu-btn {
  width: 18px;
  height: 24px;
}

.navigation__list {
  @include list-reset;
  border-top: 1px solid #E6E6E6;
  display: none;
  margin-top: 15px;
}

.navigation__list-link {
  color: $color-primary;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  justify-content: center;
  padding: 23px;
}

@media(min-width: $width-tablet) {
  .header__logo-text {
    display: none;
  }

  .header__menu-btn {
    display: none;
  }

  .header__wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .header__picture-image {
    width: 174px;
    height: 50px;
    margin-right: 94px;
  }

  .header__navigation {
    display: block;
    margin: 0;
  }

  .navigation__list {
    border-top: none;
    max-width: 540px;
    display: flex;

    flex-wrap: wrap;
  }

  .navigation__list-item {
    margin-right: 33px;

    &:last-child {
      margin-right: 0;
    }
  }

  .navigation__list-link {
    border: none;
    padding: 0;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;

    &--current {
      border-color: #68B738;
    }
  }

  .navigation__list-link--dark {
    color: $color-primary;

    &-current {
      border-color: #68B738;
    }
  }
}

@media(min-width: $width-desktop) {
  .header {
    position: relative;
    z-index: 1;
  }

  .header__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .header__picture-image {
    width: 202px;
    height: 59px;
  }

  .navigation__list {
    max-width: 480px;
  }

  .navigation__list-link {
    color: $light-font-color;
    font-size: 20px;
    line-height: normal;
    padding-bottom: 8px;

    &--current {
      border-color: $light-font-color;
    }
  }

  .navigation__list-link--dark {
    color: $color-primary;

    &-current {
      border-color: $green-font-color;
    }
  }
}
