.header {
  min-width: 320px;
}

.header__wrapper {
  padding-top: 12px;
}

.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-btn {
  width: 18px;
  height: 24px;
}

.header__navigation {
  margin-top: 15px;
}

.navigation__list {
  @include list-reset;
  border-top: 1px solid #E6E6E6;
  display: none;
}

.navigation-list__link {
  color: $color-primary;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  justify-content: center;
  padding: 23px;
}

@media(min-width: 768px) {
  .header__logo-text {
    display: none;
  }

  .header__menu-btn {
    display: none;
  }

  .header__wrapper {
    padding-top: 25px;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  .header__picture-image {
    width: 174px;
    height: 50px;
  }
  .header__navigation{
    margin-top: 0;
  }
  .navigation__list {
    display: flex;
    border: none;
    flex-wrap: wrap;
    margin: 0;
    max-width: 440px;
  }

  .navigation-list__item {
    margin-right: 33px;

    &:last-child {
      margin-right: 0;
    }
  }

  .navigation-list__link {
    border: none;
    padding: 0;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;

    &--current {
      border-bottom: 2px solid #68B738;
    }
  }
}

@media(min-width: 1440px) {
  .header__wrapper {
    padding-top: 55px;
    background-color: #68B738;
  }

  .header__picture-image {
    width: 202px;
    height: 59px;
  }

  .navigation-list__link {
    color: $light-font-color;
    font-size: 20px;
    line-height: normal;
    padding-bottom: 8px;
    &--current {
      border-color: $light-font-color;
    }
  }
}
