.hero {
  margin-bottom: 20px;
}
.hero__wrapper {
  padding: 27px 20px 0;
}
.hero__bg {
  background: url(../img/content/background-hero.jpg);
  background-repeat: no-repeat;
  width: 320px;
  height: 302px;
  margin-left: -20px;
}

.hero__container{
  background: rgba(104, 183, 56, 0.85);
  width: 320px;
  height: 302px;
}
.main__title {
  @include main-title;
  margin: 0;
  margin-bottom: 25px;
}
.hero-description {
  margin: 0;
  color: $light-font-color;
  font-size: 14px;
  line-height: 14px; /* 100% */
  text-transform: uppercase;
  margin-bottom: 29px;
}
.hero__image{
  margin-top: -149px;
}
