.programms__list {
  @include list-reset;
}

.programms__item {
  background-color: $color-secondary;
  padding: 23px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  min-width: 240px;
}

.programms__image-wrapper {
  background-color: $green-font-color;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 20px;
  margin-bottom: 22px;
  position: relative;
}

.programms__image--slim {
  position: absolute;
  bottom: 3px;
  left: 7px;
}

.programms__image--pro {
  position: absolute;
  top: 11px;
  left: -9px;
}

.programms__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.programms__description {
  @include base-text;
  margin: 0;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 23px;
  margin-bottom: 15px;
}

.programms__link {
  color: $color-primary;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: url(../../img/icon/icon-arrow.svg);
    margin-left: 15px;
    width: 32px;
    height: 10px;
  }
}

@media (min-width: 768px) {
    .programms__item {
      padding: 77px 63px 57px 52px;
    }

  .programms__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .programms__description {
    margin-bottom: 52px;
    border: none;
    color: $color-primary;
    margin-right: 53px;
    padding: 0;
  }

}

@media (min-width: 1440px) {

  .programms__list {
    display: flex;
  }

  .programms__item {
    min-width: 570px;
    margin-right: 80px;
    padding: 41px 61px 59px 52px;
    text-align: start;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  .programms__image-wrapper {
    min-width: 100px;
    min-height: 100px;
    position: relative;
    margin: 0;
    margin-right: 62px;
  }

  .programms__image--slim {
    width: 70px;
    height: 97px;
    position: absolute;
    left: 15px;
    bottom: 9px;
  }

  .programms__image--pro {
    width: 134px;
    height: 56px;
    position: absolute;
    margin: 0;
    top: 20px;
    left: -19px;
  }

  .programms__title {
    margin: 0;
  }

  .programms__description {
    margin-top: 39px;
    margin-bottom: 27px;
  }
}
