.upsale__wrapper {
  padding: 25px 20px 35px;
}
.upsale__title {
  color: $color-primary;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
}
.upsale__list {
  @include list-reset;
  padding-right: 20px 35px ;
  padding-bottom: 35px;
  padding-left: 20px;
}
.upsale__item {
  border-top: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 19px;
}
.upsale__item:last-child {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 35px;
}
.card-upsale__list {
  @include list-reset;
}
.card-upsale__title {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}
.card-upsale__title:first-child {
  margin-top: 0;
}

