html {
  height: 100%;
}
body {
  height: 100%;
  width: 320px;
  font-family: $font-main;
  font-size: 16px;
  line-height: 18px;
  background-color: $background-color-body;
  color: $base-font-color;
  margin: 0;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
