//Цвета
$color-primary: #000000;
$color-seconadary: #f2f2f2;
$base-font-color: #444444;
$light-font-color: #ffffff;
$green-font-color: #68b738;
$background-color-body: #ffffff;

//Шрифты
$font-main: "Oswald", sans-serif;
$font-secondary: "Lato", sans-serif;

//Устройства
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;
